APP_NAME="SMT Holdings"
APP_ENV=local
APP_KEY=base64:4gt/BuCeV8DGTe2JBzlzvj/P3Q+WwzhezWiEkL9u26w=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smt-holdings
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Company Information
COMPANY_NAME="SMT Holdings"
COMPANY_DESCRIPTION="SMT Holdings specializing in interlock paving, building and road construction and all civil works."
COMPANY_ADDRESS="159/2, Wilaththawa, Bingiriya"
COMPANY_LOCATION="Bingiriya, Sri Lanka"
COMPANY_EMAIL="smtholdings@gmail.com"
COMPANY_PHONE="+94 774 415 869"
COMPANY_PHONE_ALT="+94 774 473 518"
COMPANY_WHATSAPP="94774415869"
COMPANY_FACEBOOK="https://www.facebook.com/share/18N1XuZ9D5/"
COMPANY_TIKTOK="https://www.tiktok.com/@smt.holdings?_r=1&_t=ZS-9478YDo0YIn"

# -----------------------------------------------
# Site Color Scheme (change here to restyle site)
# -----------------------------------------------
PRIMARY_COLOR="#01ca7dff"
SECONDARY_COLOR="#2c2c2bff"
ACCENT_HOVER_COLOR="#e9d200ff"
DARK_COLOR="#0e11b9ff"

